.title {
  font-size: 26px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

#link-list {
  font-size: 18px;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

#link-list li {
  list-style-type: none;
  display: inline-block;
}

#link-list li a {
  text-decoration: none;
  margin: 60px;
}

.aling-center {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 60px;
  background: #131313;
}

footer p {
  color: #fff;
  font-size: small;
}

dl {
  margin-right: 50px;
  margin-left: 10px;
  float: left;
}

dl dd {
  display: block;
  margin: 10px;
}

dl dt {
  font-size: 24px;
}
